@model PruebaFabioOchoa.Models.tbl_personal

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Esta seguro de eliminar esta persona?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_COMPLETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_COMPLETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNICIPIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_profesion.PROFESION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_profesion.PROFESION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_vehiculos.VEHICULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_vehiculos.VEHICULO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
